
@{
    ViewData["Title"] = "Create";
}

@model CreateBannerVM
<div class="col-md-6 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Create Banner</h4>
            <form class="forms-sample" method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <label asp-for="PrimaryTitle">Title-1</label>
                    <input asp-for="PrimaryTitle" class="form-control">
                    <span asp-validation-for="PrimaryTitle" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SecondaryTitle">Title-2</label>
                    <input asp-for="SecondaryTitle" class="form-control">
                    <span asp-validation-for="SecondaryTitle" class="text-danger"></span>
                </div><div class="form-group">
                    <label asp-for="Image">Image</label>
                    <input asp-for="Image" accept="image/*" class="form-control">
                    <span asp-validation-for="Image" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-primary me-2">Submit</button>
                <button class="btn btn-light" asp-area="admin" asp-controller="Banner" asp-action="Index">Cancel</button>
            </form>
        </div>
    </div>
</div>

